.flex-auto max-w-prose md:mt-12 {
    max-width: 1000px;
}

.description {
    max-width: 800px;
}

.course {
    width: 100%;
}

ul {
    max-width: 900px;
}

@media (max-width: 768px) {
    .description {
        max-width: 100%;
    }
}


